@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,900;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  @apply rounded-xl py-4 flex overflow-hidden overflow-x-scroll;
}

::selection {
  @apply text-white bg-red-400;
}

p,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-merriweather leading-7;
}

/* * Code embed styling  */
pre [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.106);
}

pre [data-line] {
  border-left-width: 2px;
  border-left-color: transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 14px;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

span [data-line] {
  @apply text-xs;
}
